* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to top right,
    rgb(237, 167, 4),
    rgb(235, 56, 20),
    rgb(188, 51, 17)
  );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 10%;
  z-index: 10;
}

.erxes {
  color: rgb(242, 238, 12);
  font-size: xx-large;
  font-weight: bold;
  position: relative;
  bottom: 30%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.hover-a {
  color: rgb(245, 244, 156);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s;
}

.hover-a:hover {
  color: rgb(90, 0, 69);
}

.hover-a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: purple;
  transition: width 0.3s ease;
}

.hover-a:hover::after {
  width: 100%;
}

main {
  flex: 1;
  position: relative;
}

.hero-section {
  width: 100%;
  height: 100%;
}

.imgbox {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(-1);
  width: 500px;
  height: 90%;
  z-index: 1;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom center;
}

.text-arch-svg {
  position: absolute;
  top: -135px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  pointer-events: none;
}

.text-arch-svg text {
  fill: white;
  font-family: "Arial Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
footer {
  position: absolute;
  bottom: 5%;
  width: 100%;
  z-index: 5;
  pointer-events: none;
}

h1 {
  color: white;
  font-size: 6rem;
  font-family: serif;
  width: 40%;
  position: relative;
  left: 5%;
  bottom: 70%;
  height: 200px;
  margin-left: 200px;
}

.text {
  color: white;
  position: absolute;
  right: 5%;
  bottom: 10%;
  font-size: 1.5rem;
  width: 30%;
  font-family: sans-serif;
  height: 300px;
  margin-right: 200px;
}
li {
  color: red    ;
}
